{% extends "debian-base.html" %}

{% block title %}Debtags{% endblock %}

{% block head_meta %}
<link rev="made" href="mailto:enrico@debian.org">
<meta name="Language" content="English">
<meta name="Author"    content="Enrico Zini, enrico@debian.org">
{% endblock %}

{% block head_resources %}
  {{block.super}}
  <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/debtags.css" />
{% endblock %}

{% block section %}<a href="{% url "root_index" %}">Debtags</a>{% endblock %}

{% block searchbox %}
  <form name="p" method="get" action="{% url "search_packages" %}" id="">
    <p><input name="q" value="" size="27"> <input type="submit" value="Search"></p>
  </form>
{% endblock %}

{% block navbar %}
  <li><a href="https://wiki.debian.org/Debtags">About Debtags</a></li>
  <li><a href="https://wiki.debian.org/Debtags/FAQ">FAQ</a></li>
  <li><a href="{% url "getting_started" %}">Getting started</a></li>
{% endblock %}

{% block breadcrumbs %}<a href="{% url "root_index" %}">debtags</a>{% endblock %}

{% block relatedpages %}
    <a href="{% url "search_packages" %}">Search</a>
    <a href="{% url "report_todo" %}">TODO list</a>
    <a href="{% url "editor_index" %}">Editor</a>
    <a href="{% url "statistics" %}">Statistics</a>
    {% if user.is_authenticated %}
    <a href="{% url "report_maint" email=user.username %}">{{user.username}}</a>
    {% endif %}
{% endblock %}

{% block content %}
<h1>Debtags Website Template</h1>
{% endblock %}

{% block footer %}
<p>Copyright © 2011-2013 Enrico Zini &lt;enrico@debian.org&gt;. See <a href="{% url "root_license" %}">license terms</a>.
Source code is <a href="https://anonscm.debian.org/cgit/debtags/debtagsd.git">available</a>.</p>
<p>Debtags is part of <a href="https://www.debian.org/">Debian</a>.</p>
{% endblock %}
