{% extends "reports/base.html" %}

{% block head_resources %}
  {{block.super}}
  <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery-ui-1.8.17.tabs.css" />
  <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-ui-1.8.17.tabs.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
        $("table").tablesorter();
        $("#tabs").tabs();
});
</script>
{% endblock %}

{% block content %}

<div id="intro">
    <p>This page lists the automatically computed inference rules for facets and tags. Each rule has a target (the facet or tag to add or remove), a source (the facets or tag that trigger the rule when they are all present), and two measures:
    <a href="http://www.borgelt.net/doc/apriori/apriori.html#confrule">confidence</a> and
    <a href="http://www.borgelt.net/doc/apriori/apriori.html#supprule">support</a>.
    Note that negative rules are <a href="http://www.borgelt.net/doc/apriori/apriori.html#rulesel">based on
    <i>low</i> confidence</a>, so the strongest rules are those with a lower confidence.
    </p>
</div>

<div id="tabs">
<ul>
    <li><a href="#f">Facet rules</a></li>
    <li><a href="#nf">Negative facet rules</a></li>
    <li><a href="#t">Tag rules</a></li>
    <li><a href="#nt">Negative tag rules</a></li>
</ul>

<div id="f">

<table class="tablesorter apriorirules">
<thead>
    <tr>
        <th>You have</th>
        <th>When you have</th>
        <th>Rule confidence</th>
        <th>Rule support</th>
    </tr>
</thead>
<tbody>
{% for r in rules.f %}
<tr>
    <td><a href="{% url "report_facet" name=r.tgt %}">{{r.tgt}}</a></th>
    <td>
        <ul class="vbox">
        {% for t in r.src %}
        <li><a href="{% url "report_facet" name=t %}">{{t}}</a></li>
        {% endfor %}
        </ul>
    </td>
    <td>{{r.conf}}%</td>
    <td>{{r.sus}}</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>


<div id="nf">

<table class="tablesorter apriorirules">
<thead>
    <tr>
        <th>You have</th>
        <th>When you have</th>
        <th>Rule confidence</th>
        <th>Rule support</th>
    </tr>
</thead>
<tbody>
{% for r in rules.nf %}
<tr>
    <td><a href="{% url "report_facet" name=r.tgt %}">{{r.tgt}}</a></th>
    <td>
        <ul class="vbox">
        {% for t in r.src %}
        <li><a href="{% url "report_facet" name=t %}">{{t}}</a></li>
        {% endfor %}
        </ul>
    </td>
    <td>{{r.conf}}%</td>
    <td>{{r.sus}}</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>

<div id="t">

<table class="tablesorter apriorirules">
<thead>
    <tr>
        <th>You have</th>
        <th>When you have</th>
        <th>Rule confidence</th>
        <th>Rule support</th>
    </tr>
</thead>
<tbody>
{% for r in rules.t %}
<tr>
    <td>
        <a href="{% url "report_tag" name=r.tgt %}">{{r.tgt}}</a>
    </th>
    <td>
        <ul class="vbox">
        {% for t in r.src %}
        <li><a href="{% url "report_tag" name=t %}">{{t}}</a></li>
        {% endfor %}
        </ul>
    </td>
    <td>{{r.conf}}%</td>
    <td>{{r.sus}}</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>


<div id="nt">

<table class="tablesorter apriorirules">
<thead>
    <tr>
        <th>You do not have</th>
        <th>When you have</th>
        <th>Rule confidence</th>
        <th>Rule support</th>
    </tr>
</thead>
<tbody>
{% for r in rules.nt %}
<tr>
    <td>
        <a href="{% url "report_tag" name=r.tgt %}">{{r.tgt}}</a>
    </th>
    <td>
        <ul class="vbox">
        {% for t in r.src %}
        <li><a href="{% url "report_tag" name=t %}">{{t}}</a></li>
        {% endfor %}
        </ul>
    </td>
    <td>{{r.conf}}%</td>
    <td>{{r.sus}}</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>

</div>


{% endblock %}

