{% extends "reports/base.html" %}

{% block title %}Debtags TODO list{% endblock %}

{% block content %}

<div id="intro">
    <p>
    <form method="GET" action="{{request.get_full_path}}">
    This page shows the packages that have first been seen by
    debtags.debian.org since <input type="date" name="from" value="{{date_from|date:"Y-m-d"}}">
    <input type="submit" value="Change">. If you see a package that needs
    work, click on it to go and tag it.
    </p>
    </form>
</div>

{% for p in pkgs %}
<a href='{% url "editor_edit" name=p.name %}'>{{p.name}}<a> -- {{p.sdesc}} ({{p.ts_created|timesince}} ago)
<div class='pkgtags'>
  {% for t in p.stable_tags %}
  {{t}}
  {% endfor %}
</div>
<div class="pkgsugg">
  {% for t in p.todolist %}
  <div class="tip">{{t.msg|safe}}</div>
  {% endfor %}
</div>
{% endfor %}

{% endblock %}
