{% extends "reports/base.html" %}

{% comment %}
TODO: testing it in the editor first
{% block head_resources %}
{{block.super}}
<script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
<script src="{{ STATIC_URL }}js/debtags.js"></script>
<script src="{{ STATIC_URL }}js/tagchecks.js"></script>
{% endblock %}

{% block head %}
{{block.super}}
  <script type="text/javascript">
  $(function() {
    $("div.pkgtags").each(function(el) {
        var el = $(this);
        var pkg = el.attr("pkg");
        var tags = new Tagset();
        tags.add_all(el.attr("tags").split(","));
        var checks = check_tags(tags);
        var sugg = $("div.pkgsugg[pkg="+pkg+"]");
        sugg.empty();
        $.each(checks, function(idx, el) {
            var tips = $("<div>").addClass(el.type).html(el.msg);
            $.each(el.fixes, function(idx, el) {
                tips.append($("<div>").addClass("fix").append(el.msg));
            });
            sugg.append(tips);
        });
    });
  })
  </script>
{% endblock %}
{% endcomment %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url "report_checks_list" %}">checks</a>{% endblock %}

{% block content %}
<div id="intro">
    <p>This page lists the automated checks that are run on the unreviewed tag
    database.</p>
    <p>
    List of packages failing check: <b>{{check.name}}</b>{% if check.sdesc %} ({{check.sdesc}}){% endif %},
    most popular at the top.
    </p>
    {% if check.ldesc %}
    <p>{{check.ldesc}}</p>
    {% endif %}
    <p>All the other failing tests are also shown for each package.</p>
</div>


{% for pkg in pkgs %}
{% include "debtags-pkginfo-light.html" %}
<div class='pkgtags' pkg="{{pkg.name}}" tags="{{pkg.stable_tags.all|join:","}}">
  {% for t in pkg.stable_tags.all %}
  {{t}}
  {% endfor %}
</div>
<div class="pkgsugg" pkg="{{pkg.name}}">
  {% for t in pkg.todolist.all %}
  {% if t.check_id != check.ID %}
  <div class="tip">{{t.format|safe}}</div>
  {% endif %}
  {% endfor %}
</div>
{% endfor %}

{% endblock %}

