{% extends "reports/base.html" %}

{% block title %}Debtags TODO list{% endblock %}

{% block content %}

<div id="intro">
    <p>This page shows the most important packages that seem to need tagging
    work. If you see a package you know, click on it to go and tag it.</p>
</div>

{% for pkg in pkgs %}
<a href='{{pkg.get_absolute_url}}'>{{pkg.name}}<a> -- {{pkg.sdesc}}
<div class='pkgtags'>
  {% for t in pkg.stable_tags.all %}
  {{t}}
  {% endfor %}
</div>
<div class="pkgsugg">
  {% for t in pkg.todolist.all %}
  <div class="tip">{{t.format|safe}}</div>
  {% endfor %}
</div>
{% endfor %}

{% endblock %}
