{% extends "editor/base.html" %}

{% block relatedpages %}
<a href="{% url "search_packages" %}">Search</a>
<a href="{% url "report_todo" %}">TODO list</a>
<a href="{% url "statistics" %}">Statistics</a>
<a href="{% url "report_audit_log" %}">History</a>
<a href="https://wiki.debian.org/Debtags/EditorHelp">Help</a>
{% endblock %}

{% block head_resources %}
{{block.super}}
<script src="{{ STATIC_URL }}js/tagchecks.js"></script>
<script src="{{ STATIC_URL }}js/tips.js"></script>
<script src="{{ STATIC_URL }}js/editor.js"></script>
{% endblock %}


{% block head %}
{{block.super}}
  <script type="text/javascript">
  <!--
// Initialise the tag editor with the current package information
var pkg = "{{pkg.name}}";
var suggested = {{suggested_tags|safe}};
var submit_url = "{% url "api_patch" %}";
var search_tags_url = "{% url "api_tag_search" %}";

var patchset = new PatchSet();

$(function() {
    var csrf_token = $("input[name=csrfmiddlewaretoken]").val();

    $("#patchset").patchset({ patchset: patchset, post_url: submit_url, collapsed: false, csrf_token: csrf_token });
    $("#patchset").bind("patchsetchanged", function(event, data) {
        var pkg = data.pkg;

        $.each(data.tags, function(idx, name) {
            var change = patchset.get(pkg, name);
            if (change == "+")
            {
                tags.add(name);
                $(".menu.tag[tag=\""+name+"\"]").addClass("current");

                var current_tag_list = $("#current_tag_list");
                $(".no_tags", current_tag_list).detach();
                current_tag_list.append($("<li>").append(curtag_hooks(render_selected_tag(name))));
            } else {
                tags.del(name);
                $(".menu.tag[tag=\""+name+"\"]").removeClass("current");

                var current_tag_list = $("#current_tag_list");
                $(".tag[tag=\""+name+"\"]", current_tag_list).parent().detach();
                if (current_tag_list.children().length == 0)
                    current_tag_list.append($("<li>").addClass("no_tags").append("None"));
            }
        });
        update_tips();
    });
    $("#patchset").bind("patchsetpostsubmit", function(event, data) {
        // Reset tags
        reset_tags(data.data.pkgs[pkg]);
    });

    reset_tags({{tags|safe}});

    // Render the list of suggested tags
    var suggested_tags_list = $("#suggested_tags_list");
    $.each(suggested, function(idx, el) {
        var tag_el = render_tag(el);
        tag_el.tooltip({
            bodyHandler: curtag_tooltip_handler,
        })
        var li = $("<li>").addClass("menu").addClass("tag").attr("tag", el).append(tag_el);
        if (tag_el.hasClass("current")) li.addClass("current");
        suggested_tags_list.append(li);
    });

    // Render the list of available tags
    var at_facets = $("#available_facets_list");
    var at_tags = $("#available_tags_list");

    // Render the available packages list
    voc.eachFacet(function(f,s,l){
        var span = $("<span>").addClass("facet")
                              .append($("<span>").addClass("name").append(f))
                              .append(": ")
                              .append($("<span>").addClass("desc").append(s));
        var li = $("<li>")
                   .attr("facet", f)
                   .append(span)
                   .click(alltags_facet_selected);

        if (f == atcurfacet)
            li.addClass("current");

        at_facets.append(li);

        voc.eachTagOfFacet(f, function(t,s,l) {
            at_tags.append($("<li>").append(render_tag(t)));
        });
    });
    update_available();

    update_tips();
    update_visibility();
    show_random_tip();

    $(".pkginfo").each(function() {
        var pkginfo = $(this);
        var sdesc = $("span.sdesc", pkginfo);
        sdesc.click(function(ev) {
            pkginfo.toggleClass("collapsed");
        });
    });
})

  //-->
  </script>
{% endblock %}

{% block content %}
<h1>Debtags tag editor - {{pkg.name}}</h1>
{% csrf_token %}
    <div id="editor">
        <div id="tagbox" class="widget">
            <h2>Current tags</h2>
            <ul id="current_tag_list">
            </ul>

            <h2>Changes</h2>

            <div id="patchset"></div>

            <span id="todolist">
            <h2>Checks and hints</h2>
            <ul>
            </ul>
            </span>

			<div id="tipbox">
				<h2 id="tiptitle" onclick="show_random_tip()">Tagging tip</h2>
				<div id="tip">
				</div>
				<div id="tipbuttons">
					<a onClick="show_random_tip()">New tip</a>
					<a href="http://debtags.alioth.debian.org/edit-tips.html">All tips</a>
				</div>
			</div>
		</div>

        <div id="curpackage">
            {% include "debtags-pkginfo.html" %}
        </div>

        <div id="taglists">

            <div id="tabbar">
                <ul>
                    <li><a class="allButton button"  onClick="update_visibility('all');">All tags</a></li>
                    <li><a class="suggButton button" onClick="update_visibility('sugg');">Suggested tags</a></li>
                    <li><a class="relButton button"  onClick="update_visibility('rel');">Search tags</a></li>
                </ul>
            </div>

            <div id="alltags" class="taglists-body">
                <div id="alltagssearch">
                    <form name='alltags' onSubmit="return false;">
                    Filter: <input type='text' name='tagsearch' onInput='update_available();'>
                    </form>
                </div>
                <div id="alltags-facets">
                    <h2>Facets</h2>
                    <ul id="available_facets_list">
                    </ul>
                </div>
                <div id="alltags-tags">
                    <h2>"<span id="available_selected_facet">--</span>" tags</h2>
                    <ul id="available_tags_list">
                    </ul>
                </div>
            </div>
            <div id="suggtags" class="taglists-body">
                <div id="sugginfo" class="widget">
                    These tags are suggested by looking at packages with a
                    similar description.
                </div>
                <ul id="suggested_tags_list" class="taglist">
                </ul>
            </div>
            <div id="reltags" class="taglists-body">
                <form name="relsearch" onSubmit="return false;">
                <div id="relsearch" class="widget">
                    Find tags using a <a href="http://enricozini.org/2007/debtags/axi-query-tags/">smart</a>
                    keyword search. To search by tag names, use the filter in the <a class="allButton button"
                    onClick="update_visibility('all');">all tags</a> view.
                    <br />
                    Query: <input id="tag_search_query" type="text" name="keys" value='' onChange="search_tags()" />
                    <input type="button" name="submit" value="Search" onClick="search_tags()" />
                </div>
                </form>
                <ul id="search_tags_list" class="taglist">
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
