td.head {
    width: 10%;
}
td.head span {
    margin: 0;
    text-align: right;
    font-size: small;
}

td.head span.count {
    font-weight: bold;
}
td.head span.expander {
    text-align: right;
    font-size: 70%;
    cursor: pointer;
    white-space: no-wrap;
    display: block;
    margin: 0;
}
.spelling {
    cursor: pointer;
    font-weight: bold;
}

#search-form {
    float: left;
    margin-bottom: 0.5em;
}

#search-form P {
    margin: 0 1em;
}

#search-results {
    clear: left;
}

a.searchhelp {
    font-size: small;
    color: #54638c;
    text-decoration: none;
}
a.searchhelp:hover {
    text-decoration: underline;
}

div.facets {
    float: right;
    width: 25%;
    background-color: #F5F6F7;
    border: 1px solid #d2d3d7;
    padding: 3px;
}
div.facets > ul.toolbox {
    margin: 0;
    padding: 0;
    float: right;
    color: #54638c;
    cursor: pointer;
}
div.facets > ul.toolbox > li {
    font-size: small;
    list-style-type:none;
}
div.facets > ul.toolbox > li:before {
    content: "[";
}
div.facets > ul.toolbox > li:after {
    content: "]";
}
div.facets > ul.toolbox > li:hover {
    text-decoration: underline;
}
div.facets h2 {
    font: normal 100% sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5em;
    color: #54638c;
    border-bottom: 1px solid #d2d3d7;
    text-align: center;
}
div.facets h3 {
    font-weight: normal;
    color: #54638c;
    margin: 0;
    cursor: pointer;
}
div.facets h3:hover {
    text-decoration: underline;
}
div.facets h3.closed:after {
    content: " ▷";
}
div.facets li.tag {
    cursor: pointer;
}
div.facets li.tag:hover {
    text-decoration: underline;
}
div.facets li.tag .sdesc {
    color: brown;
}
div.facets li.tag.current .sdesc {
    font-weight: bold;
}
div.facets .card {
    color: gray;
}
div.facets ul.facets {
    font-size: small;
    margin: 0;
    padding: 0;
}
div.facets ul.facets > li {
    list-style-type: none;
}
div.facets ul.tags {
    margin: 0;
    padding: 0;
    padding-left: 0.5em;
}
div.facets ul.tags > li {
    list-style-type: none;
}

/* Search by tag */

#whitelist {
    float: left;
    width: 20%;
}

#blacklist {
    float: left;
    width: 20%;
}

.wblist > ul {
    margin:0;
    padding:0;
    font-size: small;
}

.wblist > ul > li {
    list-style-type:none;
}

#tagcloud {
    float: left;
    width: 50%;
    background-color: #BBF;
    padding: 3px;
}

#tagcloud > h2 {
    float: left;
    font-size: 1em;
    font-weight: bold;
    margin: 0.2em;
    padding: 0;
    color: white;
    /*
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    */
}

#tagcloud > ul {
    margin: 0;
    text-align: center;
}

#tagcloud > ul > li {
    list-style-type:none;
    display: inline-block;
    margin: 0 2px;
    padding: 0 0.3em;
    background-color: #DDF;
}

#tagsearch {
    float: right;
}

span.tag span.desc.tcA { font-size: 100%; }
span.tag span.desc.tcB { font-size: 90%; }
span.tag span.desc.tcC { font-size: 80%; }
span.tag span.desc.tcD { font-size: 70%; }
span.tag span.desc.tcE { font-size: 60%; }

#results {
    clear: left;
}

span.tag {
    position: relative;
    cursor: pointer;
}

ul.tools {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0;
    margin: 0;
}
ul.tools > li {
    float: left;
    display: none;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    white-space:nowrap;
    vertical-align: top;
    background-color: white;
    width: 24px;
    height: 24px;
}
#tagcloud > ul > li:hover {
    background-color: #FFA;
    text-decoration: underline;
}
span.tag:hover {
    background-color: #FFA;
    text-decoration: underline;
}
span.tag:hover ul.tools > li {
    display: block;
}
ul.tools > li.wl {
    background: url("good.png");
    background-color: rgba(255, 255, 255, 0.5);
}
ul.tools > li.bl {
    background-image: url("bad.png");
    background-color: rgba(255, 255, 255, 0.5);
}
ul.tools > li.rm {
    background-image: url("remove.png");
    background-color: rgba(255, 255, 255, 0.5);
}

ul.pkgtags {
    margin:0;
    padding:0;
}

ul.pkgtags > li {
    list-style-type:none;
    display: inline-block;
    margin: 0 0.5em;
}

#results > ul > li p {
    margin: 0;
}
